<!DOCTYPE html>
<html lang="en">

<head>
    <title>blogs@nilayvishwakarma</title>
    <base href="./">
    <link rel="stylesheet" href="./index.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Blogs by Nilay Vishwakarma" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="./images/index.png" />
    <script>
        if (!SVGElement.prototype.contains) {
            SVGElement.prototype.contains = HTMLDivElement.prototype.contains;
        }
        window.onload = function (ev) {
        };
    </script>
</head>

<body>
    <div class="header">
        <span>blogs@nilayvishwakarma</span>
    </div>
    <div class="container">
        <div class="curtain">
            <img src="https://avatars0.githubusercontent.com/u/30928429?s=460&v=4"/>
            <span><a href="https://www.nilayvishwakarma.com">Nilay Vishwakarma</a></span/>
            <div>
                <span>Full Stack Developer</span/>
                <span>.NET / Node.js</span>
                <span>Azure</span/>
            </div>
        </div>
        <div class="main">
            {{ body }}
        </div>
    </div>
</body>
</html>
